:root{
    --prymary-color: #161616;
    --secondary-color: #FFFFFF;
    --color-red: #DD0000;
    --color-gray: #B9B9B9;
    --prymary-font: 'Poppins', sans-serif;
    --secondary-font: 'Inter', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 1321px;
    display: flex;
    justify-content: flex-start;
    margin: 130px 140px 130px 207px;
}
    /* Header styles  */
.headers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 140px 0;
}

.header{
    width:1321px;
    height: 725px;
    background-color: var(--prymary-color);
    border-radius: 30px;
    display: flex;
  
}
.header-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding: 25px;
    color: var(--secondary-color);
    margin: auto;
}
.header-text h1{
    font-size: 70px;
    font-weight: 700;
    font-family: var(--prymary-font);
    margin-bottom: 25px;
}
.header-text p{
    font-weight: 400;
    font-family: var(--prymary-font);
    margin-bottom: 25px;
}
.header-text a{
    text-decoration: none;
    font-size: 30px;
    color: var(--secondary-color);
    background-color: var(--color-red);
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}
.header-img{
    width: 50%;
    
}
.header-img img{
    width: 88.6%;
    margin: 30px;
    margin-bottom: 0;
}

    /* Aside style start  */
.sidebar{
    width: 312px;
    height: 312px;
    background-color: var(--prymary-color);
    border-radius: 10px;
    margin-right: 23px;
}
.sidebar ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.sidebar li{
    list-style: none;
    background-color: var(--secondary-color);
    width: 252px;
    height: 40px;
    margin: 15px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
.sidebar li a{
    text-decoration: none;
    color: #000;
} 
    /* Upcoming cards styles */
.upcoming-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 17px 25px;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 312px;
    height: 242px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.card-img{
    display: flex;
}
.card-img > p{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    font-family: var(--prymary-font);
    margin: 5px;
    padding: 5px;
}
.card-text{
    text-align: center;
}
.card-text > h2{
    margin: 10px;
}

    /* Blogs section styles */
.blogs-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.blogs{
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.blog-text{
    margin: 20px;
}
.blog-text a{
    text-decoration: none;
    font-size: 30px;
    color: var(--prymary-color);
    border: 1px solid #161616;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}
.blog-text h2{
    margin: 15px 0 20px 0;
    font-size: 18px;
}
.blog-icons{
    display: flex;    
}
.blog-icons p{
    text-align: center;
    margin-right: 35px;
}
.blog-icons > p > .fa-regular{
    margin-right: 10px;
}
.buttons{
    display: none;
}
.button{
    border-radius: 5px;
    width: 131px;
    height: 50px;
    text-align: center;
    background-color: var(--color-red);
}

    /* Footer style start */

footer{
    background-color: var(--prymary-color);
    width: 100%;
    height: 444px; 
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
footer > h1{
    margin-top: 50px;
}
footer > hr{
    border: 1px solid #FFFFFF1A;
    width: 1320px;
    margin: 50px 0;
}
.footer-links ul{
    display: flex;
    gap: 30px;
}
.footer-links li{
    list-style: none;
}
.footer-links  li a{
    text-decoration: none;
    color: var(--color-gray);
}
.social-media{
    display: none;
}
.social-media ul{
    display: flex;
    gap: 30px;
    margin: 20px 0;
}
.social-media li{
    list-style: none;
}
.social-media li a{
    text-decoration: none;
    color: var(--color-gray);
}

    /* Responsive for mobile  */

@media only screen and (max-width: 688px) {
    .container{
        flex-direction: column;
        width: 100%;
        margin: 0;
        align-items: center;
    }
    .headers{
        margin: 0;
    }
    .header{
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        margin: 0;
    } 
    .header-text{
        width: 100%;
        align-items: center;
        padding: 15px;
    }
    .header-text h1 {
        font-size: 50px;
    }
    .sidebar{
        background-color: var(--secondary-color);
    }
    .blogs-cards{
        grid-template-columns: repeat(1, 1fr);
    }
    
    footer{
        height: 500px;
    }
    footer > hr{
        width: 335px;
    }
    .footer-links ul{
        flex-direction: column;
    }
    .social-media{
        display: flex;
    }
}

    /* Tablet Responsive */

@media only screen and (min-width: 689px) and (max-width: 993px) {
    .container{
        flex-direction: column;
        width: 100%;
        margin: 0;
        align-items: center;
    }
    .headers{
        /* width: 734px; */
        margin-top: 50px;
    }
    .header{
        width: 734px;
        height: 100%;
    }
    .header-text h1 {
        font-size: 40px;
    }
    .sidebar{
        width: 83%;
        height: 50px;
        background-color: var(--secondary-color);
        margin: 50px 0;
    }
    .sidebar ul{
        flex-direction: row;
    }
    .blogs-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs-tab{
        display: none;
    }
    .buttons{
        display: block;
        margin: 50px 0;
    }
    footer{
        height: 300px;
    }
    footer > hr{
        width: 734px;
    }
}