:root{
    --prymary-color: #161616;
    --secondary-color: #FFFFFF;
    --color-red: #DD0000;
    --color-gray: #B9B9B9;
    --prymary-font: 'Poppins', sans-serif;
    --secondary-font: 'Inter', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Inter', sans-serif;
}
    /* Header styles  */
.headers{
    display: flex;
    justify-content: center;
    
}
.header{
    width: 96%;
    height: 85vh;
   background-color: var(--prymary-color);
   border-radius: 10px;
   display: flex;
   margin: 20px 0;
}
.header-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding: 25px;
    color: var(--secondary-color);
    margin: auto;
}
.header-text h1{
    font-size: 70px;
    font-weight: 700;
    font-family: var(--prymary-font);
    margin-bottom: 25px;
}
.header-text p{
    font-weight: 400;
    font-family: var(--prymary-font);
    margin-bottom: 25px;
}
.header-text a{
    text-decoration: none;
    font-size: 30px;
    color: var(--secondary-color);
    background-color: var(--color-red);
    padding: 5px 10px;
    text-align: center;
}
.header-img{
    width: 50%;
    
}
.header-img img{
    width: 84%;
    margin-left: 30px;
}

    /* Footer style start */

footer{
    background-color: var(--prymary-color);
    width: 100%;
    height: 250px; 
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

footer > hr{
    border: 1px solid #FFFFFF1A;
    width: 1320px;
    margin: 50px 0;
}
.footer-links ul{
    display: flex;
    gap: 30px;
}
.footer-links li{
    list-style: none;
}
.footer-links  li a{
    text-decoration: none;
    color: var(--color-gray);
}
.social-media ul{
    display: flex;
    gap: 30px;
    margin: 20px 0;
}
.social-media li{
    list-style: none;
}
.social-media li a{
    text-decoration: none;
    color: var(--color-gray);
}
